<nz-header class="app-header">

  <!-- Left: Toggle + Logo + Nav -->

  <!-- Sidebar Toggle -->
  <button class="toggle-btn" (click)="toggleSidebar()">
    <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"></span>
  </button>


  <!-- Right: Name + Logout -->
  <div class="header-right">
    <nz-icon nzType="setting" class="cursor-pointer"  nzTheme="outline" (click)="openSettings()" />
    <span class="text-sm text-gray-700 font-medium">{{ name }}</span>

    <button (click)="auth.logout()" class="logout-btn">
      🚪 Logout
    </button>
  </div>

</nz-header>