<!-- <nz-table [nzData]="studentService.students()" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
    [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzSize]="'small'">
    <thead>
        <tr>
            <th nzColumnKey="name">Name</th>
            <th nzColumnKey="email">Email</th>
            <th nzColumnKey="phone">Phone</th>
        </tr>
    </thead>
    <tbody>
        @for (s of studentService.students(); track s.id) {
        <tr>
            <td>{{ s.data.name }}</td>
            <td>{{ s.data.email }}</td>
            <td>{{ s.data.phone }}</td>
        </tr>
        }
    </tbody>
</nz-table> -->

<nz-table [nzData]="data" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" (nzPageIndexChange)="onPageIndexChange($event)" nzSize="small">
    <thead>
        <tr>
            @for (col of columns; track col.key) {
            <th>{{ col.title }}</th>
            }

            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @for (row of data; track row.id) {
        <tr>

            @for (col of columns; track col.key) {
            <td>
                {{ col.value(row) }}
            </td>
            }

            <td class="flex gap-2">
                <button nz-button nzType="primary" nzSize="small" (click)="onEdit(row.id)">
                    Edit
                </button>

                <button nz-button nzDanger nzSize="small" (click)="onDelete(row.id)">
                    Delete
                </button>
            </td>

        </tr>
        }
    </tbody>
</nz-table>